<!Doctype Html>
<Html>   
<Head>    
<Title>   
Create the Text Box
</Title>
</Head>
<Body> 
Hellowzz! <br> 
<form action="/myhomework" method="post">
First Name:
<input type="text" name="firstname" size="20">

<br> <br>
Last Name:
<input type="text" name="lastname" size="15">
<br> <br>
Company:
<input type="text" name="company" size="20">
<br> <br>
Email:
<input type="text" name="email" size="20">
<br> <br>
<br> <br>
Phone Number:
<input type="text" name="phonenumber" size="20">
<br> <br>
<label for="image" class = "text-white"> upload image</label>
<input type="file" name="image" id = "image" class="form-control-file text-white">
<br> <br>
<input onclick="submit" type="submit" value="Submit" size="70" name="submit" />
<br> <br>
</form>
</Body> 
</Html>
