<!Doctype Html>
<Html>   
<Head>    
<Title>   
Create the Text Box
</Title>
</Head>
<Body> 
Hellowzz! <br> 
<form action="/myhome" method="post">
First Name:
<input type="text" name="firstname" size="20">

<br> <br>

<input onclick="submit" type="submit" value="Submit" size="70" name="submit" />
<br> <br>
</form>
</Body> 
</Html>